fairscale==0.4.13
fire==0.7.0
GitPython==3.1.44
habitat==0.3.3
habitat_sim==0.2.4.dev20230403
imageio==2.37.0
langchain==0.3.19
langchain_community==0.3.17
langchain_core==0.3.35
langchain_deepseek==0.1.2
langchain_ollama==0.2.3
magnum==19.0.0
matplotlib==3.10.0
MatterSim==1.1.1
networkx==3.2.1
numpy==2.2.3
openai==1.63.2
Pillow==11.1.0
PyYAML==6.0.2
PyYAML==6.0.2
sentencepiece==0.2.0
setuptools==75.1.0
torch==2.5.1
